## SQL Commands

## What is pyodbc?

pyodbc is a Python library that allows you to connect to ODBC (Open Database Connectivity) 
compliant databases, including Microsoft SQL Server, MySQL, PostgreSQL, and others.

It is commonly used for:

Connecting Python applications to SQL databases
Running SQL queries from Python

Fetching and manipulating data from databases
Inserting, updating, and deleting records in SQL tables

In [1]:
#pip install SQLAlchemy

In [2]:
from sqlalchemy import create_engine
import pandas as pd

server = r'HP\SQLEXPRESS'
database = 'Heart'

conn_str = (
    f"mssql+pyodbc://{server}/{database}"
    "?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
)
engine = create_engine(conn_str)

query = "SELECT * FROM Customers"
df = pd.read_sql(query, engine)

display(df)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,None,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,None
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,None,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Define your SQL Server connection details
server = r'HP\SQLEXPRESS'  # Use raw string to avoid backslash escape issues
database = 'Heart'

# Create SQLAlchemy connection string
conn_str = (
    f"mssql+pyodbc://{server}/{database}"
    "?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
)

# Create engine
engine = create_engine(conn_str)

# Define your SQL query (with correct null syntax and comment)
query = """
SELECT * FROM dbo.Customers
WHERE Fax IS NULL AND Region IS NULL;
"""

# Read into DataFrame without warning
df = pd.read_sql(query, engine)

# Display the DataFrame in Jupyter
display(df)  # Spreadsheet-like display

# No need to manually close — SQLAlchemy handles it efficiently

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
1,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,None,EC2 5NT,UK,(171) 555-1212,None
2,CHOPS,Chop-suey Chinese,Yang Wang,Owner,Hauptstr. 29,Bern,None,3012,Switzerland,0452-076545,None
3,FOLKO,Folk och fä HB,Maria Larsson,Owner,Åkergatan 24,Bräcke,None,S-844 67,Sweden,0695-34 67 21,None
4,GODOS,Godos Cocina Típica,José Pedro Freyre,Sales Manager,"C/ Romero, 33",Sevilla,None,41101,Spain,(95) 555 82 82,None
5,KOENE,Königlich Essen,Philip Cramer,Sales Associate,Maubelstr. 90,Brandenburg,None,14776,Germany,0555-09876,None
6,MORGK,Morgenstern Gesundkost,Alexander Feuer,Marketing Assistant,Heerstr. 22,Leipzig,None,04179,Germany,0342-023176,None
7,PRINI,Princesa Isabel Vinhos,Isabel de Castro,Sales Representative,Estrada da saúde n. 58,Lisboa,None,1756,Portugal,(1) 356-5634,None
8,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstraße 10,Cunewalde,None,01307,Germany,0372-035188,None
9,RICSU,Richter Supermarkt,Michael Holz,Sales Manager,Grenzacherweg 237,Genève,None,1203,Switzerland,0897-034214,None
10,TORTU,Tortuga Restaurante,Miguel Angel Paolino,Owner,Avda. Azteca 123,México D.F.,None,05033,Mexico,(5) 555-2933,None

In [6]:
import pandas as pd
from sqlalchemy import create_engine

# Define SQL Server connection info
server = r'HP\SQLEXPRESS'  # raw string prevents backslash issues
database = 'PACKT_ONLINE_SHOP'

# Create SQLAlchemy connection string
conn_str = (
    f"mssql+pyodbc://{server}/{database}"
    "?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
)

# Create engine
engine = create_engine(conn_str)

# SQL query
query = """
SELECT * FROM dbo.Products
WHERE ProductID > 3 AND NetRetailPrice < 100;
"""

# Fetch data without warning
df = pd.read_sql(query, engine)

# Display in spreadsheet-style format (Jupyter)
display(df)

# SQLAlchemy handles connection pooling; no manual conn.close() needed

,ProductID,ProductCategoryID,SupplierID,ProductName,NetRetailPrice,AvailableQuantity,WholesalePrice,UnitKGWeight,Notes
0,4,1,6,The Gourmet Crockpot ...,24.99,72,19.99,1.630,cookbook
1,5,1,6,Account Books ...,14.99,26,9.99,1.220,government accounting book
2,6,3,6,habanero peppers ...,4.49,189,2.99,0.009,hot peppers
3,7,2,1,10-mm socket wrench ...,3.49,39,1.89,0.018,important tool